{% extends "sourcing/layout.html" %}

{% block body %}
    <h2>Search for your topic here!</h2>
    <form action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Generate Sources">
    </form>
{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <a style="text-align: center; padding-top: 15px;">This section is still under construction.</a>
    {% else %}
        <a style="text-align: center; padding-top: 15px;">Sign-in to see previous search results.</a>
    {% endif %}
{% endblock %}