{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sourcerer</title>
        <link href="{% static 'sourcing/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <div class="title">
                <img src="{% static 'sourcing/magic-hat.jpg' %}" width="85" height="85">
                <h1 id="title">Sourcerer</h1>
            </div>
            <div>
                <div class="nav-item" id="sign-in-status">
                    {% if user.is_authenticated %}
                        <p id="username_status">Signed in as <strong>{{ user.username }}</strong>.</p>
                    {% else %}
                        <p>Not signed in.</p>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        <p></p>
                        <a class="nav-link" href="{% url 'savedSearches' user %}">Your Saved Searches</a>
                    </div>
                {% else %}
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        <p></p>
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="page-content">
            {% block body %}
            {% endblock %}
        </div>
        <div class="sidenav">
            <a>Recent Saved Searches</a>
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="google">
            <img src="{% static 'sourcing/google.png' %}" width="50" height="50">
            <h1>Powered by Google Gemini</h1>
        </div>
    </body>
</html>
