{% extends "sourcing/layout.html" %}

{% block body %}
    <h2>All Saved Searches</h2>
    {% for search in savedSearches %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        {% for search in sidebarSearch %}
            <a href="{% url 'results' search.searchID %}">
                <div class="recentSearch">
                    <h1>{{ search.topic }}</h1>
                    <h3>{{ search.citationFormat }}</h3>
                    <h4>{{ search.searchDate }}</h4>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <a style="text-align: center; padding-top: 15px; font-size: 25px; color: black;">Sign-in to see previous search results.</a>
    {% endif %}
{% endblock %}