{% extends "sourcing/layout.html" %}

{% block body %}
    <a href="{% url 'homepage' %}"><button style="margin-bottom:10px;">Return to Homepage</button></a>
    <h1>All Saved Searches</h1>
    {% for search in savedSearches %}
        <a href="{% url 'results' search.searchID %}">
            <div class="recentSearchAll">
                <h1>{{ search.topic }}</h1>
                <h3>{{ search.citationFormat }}</h3>
                <h4>{{ search.searchDate }}</h4>
            </div>
        </a>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        {% for search in sidebarSearch %}
            <a href="{% url 'results' search.searchID %}">
                <div class="recentSearch">
                    <h1>{{ search.topic }}</h1>
                    <h3>{{ search.citationFormat }}</h3>
                    <h4>{{ search.searchDate }}</h4>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <a style="text-align: center; padding-top: 15px; font-size: 25px; color: black;">Sign-in to see previous search results.</a>
    {% endif %}
{% endblock %}