{% extends "sourcing/layout.html" %}

{% block body %}
    <h2>All Saved Searches</h2>
    {% for result in savedSearches %}
        <div class="result">
            <h1>{{ result.sourceCompany }}</h1>
            <h3><a href="{{ result.sourceURL }}" target="_blank">Source Link</a></h3>
            <p>{{ result.summary }}</p>
            <strong>{{ result.citation }}</strong>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        {% for search in sidebarSearch %}
            <a href="{% url 'results' search.searchID %}">
                <div class="recentSearch">
                    <h1>{{ search.topic }}</h1>
                    <h3>{{ search.citationFormat }}</h3>
                    <h4>{{ search.searchDate }}</h4>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <a style="text-align: center; padding-top: 15px; font-size: 25px; color: black;">Sign-in to see previous search results.</a>
    {% endif %}
{% endblock %}