body {
    margin: 0;
    background-color: #e5ead3;
    padding: 10px;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    position: center;
    width: 25%;
    height: 45px;
    cursor: pointer;
    position: relative;
    align-self: center;
    border: 2px solid black;
}

.page-content {
    margin: 15px;
    background-color: #e5ead3;
    padding: 5px;
    width: 60%;
    align-items: center;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    margin-left:160px;
    padding: 0px 10px;
}

.title {
    display: inline-grid;
    text-align: left;
    color: blue;
    padding-left: 15px;
}

.nav {
    background-color: #f0f0f0;
    height: 10vh;
    width: 97%;
    padding: 10px;
    text-align: right;
    border: 5px solid black;
}

/* Update the styles for navigation items */
.nav-item {
    display: block; /* Display items inline */
    text-align: center;
    margin-right: 10px;
}

.sidenav {
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 25px;
    bottom: 5%;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    border: 5px solid black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    text-align: center;
}

.sidenav a:hover{
    color: blue;
}