body {
    margin: 0;
    background-color: #e5ead3;
    padding: 10px;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    margin-left:160px;
    padding: 0px 10px;
}

#title {
    text-align: left;
    color: blue;
    padding-left: 15px;
}

.nav {
    background-color: #f0f0f0;
    height: 10vh;
    width: 97%;
    padding: 10px;
    text-align: right;
    border: 5px solid black;
}

/* Update the styles for navigation items */
.nav-item {
    display: block; /* Display items inline */
    text-align: center;
    margin-right: 10px;
}

.sidenav {
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 25px;
    bottom: 5%;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
    text-align: center;
}

.sidenav a:hover{
    color:#f1f1f1;
}